anyio==4.12.0
certifi==2025.11.12
charset-normalizer==3.4.4
clickhouse-driver==0.2.10
et_xmlfile==2.0.0
future==1.0.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
nebula3-python==3.8.3
numpy==2.3.5
openpyxl==3.1.5
pandas==2.3.3
pymongo==3.12.0
PyMySQL==1.1.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
six==1.17.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.6.2
